<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Comunidade .net Porto Asp.net  Bootstrap Landing ">
    <meta name="keywords" content="Bootstrap, Comunidade, .net Porto, Asp.net,  Bootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Pedro Martins">
    <title>ComunidadePortoNet - A divulgar o .Net no Porto  toda a região norte </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/fonts/font-awesome.min.css" type="text/css" media="screen">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="/css/material.min.css" rel="stylesheet">
    <link href="/css/ripples.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/star-rating.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/themes/krajee-fa/theme.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/themes/krajee-svg/theme.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/themes/krajee-uni/theme.css" media="all" type="text/css" />
</head>
<body>
    <div class="navbar navbar-invers menu-wrap">
        <div class="navbar-header text-center">
            <a class="navbar-brand logo-right" href="@Url.Action("Index","Home")">ComunidadePorto<img height="36" src="/img/net.png" /> </a>
        </div>
        <ul class="nav navbar-nav main-navigation">
            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Home")#ranking_articles">Ranking Artigos</a></li>
            <li><a href="@Url.Action("Index","Home")#ranking_users">Ranking Utilizadores</a></li>
            <li><a href="@Url.Action("Index","Home")#events">Eventos</a></li>
            <li><a href="@Url.Action("Index","Home")#main-features">Artigos</a></li>
            <li><a href="@Url.Action("Index","Home")#why">Porquê</a></li>
            <li><a href="@Url.Action("Index","Home")#testimonial">Testemunhos</a></li>
            <li><a href="@Url.Action("Index","Home")#contact">Contatos</a></li>
            @if (!Request.IsAuthenticated)
            {
                <li><a href="@Url.Action("Index", "Home")#cta">Entrar nova sessão</a></li>
            }

                @Html.Partial("_LoginPartial")

        </ul>
        <button class="close-button" id="close-button">Close Menu</button>
    </div>
    <div class="content-wrap">
        <header class="hero-area" id="home">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="logo-left " href="@Url.Action("Index","Home")">ComunidadePorto<img height="36" src="/img/net.png" /></a>
                            </div>
                            <div class="navbar-right">
                                <button class="menu-icon" id="open-button">
                                    <i class="mdi-navigation-menu"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents text-right">
                    <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">ComunidadePorto<img height="48" src="/img/net.png"></img> - Comunidade de profissionais de <img height="48" src="/img/net.png" /> no Porto</h1>
                    <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Queremos ajudar a divulgar o <img height="36" src="/img/net.png" /> no Porto e zona Norte de Portugal</p>
                    <a href="@Url.Action("Login","Account")#login" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Entrar</a>
                    <a href="@Url.Action("Register","Account")#register" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Regista te</a>
                </div>
            </div>
        </header>
        @RenderBody()

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                        <h2 class="section-title">Aqui estão nossos contactos e onde estamos</h2>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-maps-map"></i>
                                    </div>
                                    <h4>Endereço</h4>
                                    <p>Matosinhos, Porto, Portugal</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-content-mail"></i>
                                    </div>
                                    <h4>Endereço de E-mail</h4>
                                    <p>comunidadeportonet@gmail.com</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-action-settings-phone"></i>
                                    </div>
                                    <h4>Telemóvel</h4>
                                    <p>(+351)919 520 386</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info">
                                    <div class="icon">
                                        <i class="mdi-action-thumb-up"></i>
                                    </div>
                                    <h4>Twitter</h4>
                                    <p>@@portopontonet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                        <h2 class="section-title">Entra em contato conosco gostamos de ouvir tuas ideias</h2>
                        <div class="text-center">
                            <h3><a href="@Url.Action("Register","Account")#register">Faz teu registo na comunidade para ter acesso á criação de teus artigos e começares a divulgar a comunidade.</a></h3>
                            <a href="@Url.Action("Register","Account")#register" class="btn btn-larg btn-primary">Regista te agora!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="map-area">
            <div class="map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d96125.69572114173!2d-8.699145564108541!3d41.157922587318566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd2465abc4e153c1%3A0xa648d95640b114bc!2sPorto%2C+Portugal!3m2!1d41.1579438!2d-8.629105299999999!5e0!3m2!1spt-PT!2sbd!4v1483132091824" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <section id="footer">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3>Links úteis</h3>
                            <ul>
                                <li>
                                    <a href="https://github.com/">GitHub</a>
                                </li>
                                <li>
                                    <a href="http://pedromiguelmartins.azurewebsites.net/">Pedro Martins</a>
                                </li>
                                <li>
                                    <a href="http://www.portodata.net/">portodata.net</a>
                                </li>
                                <li>
                                    <a href="https://www.asp.net/">Asp.net</a>
                                </li>
                                <li>
                                    <a href="https://www.microsoft.com/net">.net</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3>Comunidades do Porto</h3>
                            <ul>

                                <li>
                                    <a href="http://www.portodata.net/">portodata.net</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3>Acerca de nós</h3>
                            <ul>
                                <li>
                                    <a href="#">Sponsors</a>
                                </li>
                                <li>
                                    <a href="#">Parceiros</a>
                                </li>
                                <li>
                                    <a href="#">Equipa</a>
                                </li>

                                <li>
                                    <a href="#">Contactos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3>Sabe mais sobre nós</h3>
                            <a class="social" href="https://www.facebook.com/porto.net" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="https://twitter.com/portopontonet" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Go to Top Link -->
            <a href="https://localhost:44379/#home" class="btn btn-primary back-to-top">
                <i class=" mdi-hardware-keyboard-arrow-up"></i>
            </a>
        </section>
        <section id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright-text">
                            © ComunidadePorto
                            <img src="~/img/net.png" height="24" /> 2016 All right reserved. Designed and Developed by
                            <a href="http://pedromiguelmartins.azurewebsites.net/">
                                Pedro Martins
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.mmenu.min.all.js"></script>
    <script src="/js/count-to.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/smooth-on-scroll.js"></script>
    <script src="/js/smooth-scroll.js"></script>
    <script src="/js/main.js"></script>

    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
