@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a  href="@Url.Action("Index", "ArticleUsers")#about">Meus artigos</a></li>
        <li><a href="#">Meu Rating</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Terminar sessão</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register","Account")" id="registerLink">Nova conta</a>
        <li>
            <a href="@Url.Action("Login","Account")" id="loginLink">Entrar com conta</a>
    </ul>
}
