@model CommunityNetPortoAngular.Models.ArticleUser

@{
    ViewBag.Title = "Detalhes " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
<h4>@Model.Title</h4>
    <div class="row">

            <div class="col-sm-6 col-md-12">
                <div class="thumbnail">
                    <img alt="sem imagem" data-src="holder.js/100%x200" src="@Model.ImageURL" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                    <div class="caption">
                        <h3>@Model.Title</h3>
                        <p>@Model.Summary</p>
                        <p>@Html.Raw(Model.Content)</p>
                        <p><a href="#" class="btn btn-light" role="button"><i class="fa fa-user fa-fw fa-3x"></i>@Model.ApplicationUser.UserName</a></p>
                    </div>
                </div>
            </div>
    </div>
@if (User.Identity.Name == Model.ApplicationUser.UserName)
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Minha lista de artigos", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Voltar", "Home", new { id = Model.ID })

    </p>
}

