@model IEnumerable<CommunityNetPortoAngular.Models.ArticleUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Articles=  CommunityNetPortoAngular.Helpers.HelperSplit.Split(Model.ToList());
}

<h2>Meus Artigos</h2>

<p>
    @Html.ActionLink("Novo Artigo", "Create",null,new  { @class="btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Footer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Footer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

    @foreach (var articleList in Articles)
    {

        <div class="row">
@foreach (var item in articleList)
{  <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                <p><a class="btn btn-default" href="@Url.Action("Details","ArticleUsers", new { id=item.ID })">Saber mais &raquo;</a></p>
            </div>
}
          
        </div>
    }
