@model CommunityNetPortoAngular.Models.ResumeUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well">
    <h2 class="text-center">Editar perfil básico</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CareerProfile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CareerProfile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CareerProfile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Linkedin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Linkedin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Linkedin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GitHub, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GitHub, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GitHub, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Twitter, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Twitter, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PortfolioSite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PortfolioSite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PortfolioSite, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TagLine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TagLine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TagLine, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Voltar meu Perfil", "MyProfile", null, null,null, "profile_resume", null, new { @class = "btn btn-primary pull-left" })
                    <input type="submit" value="Guardar alterações meu perfil" class="btn btn-primary pull-right" />
                </div>
            </div>

        </div>
    }
    </div>
@Html.Partial("_EditExperiencies")
@Html.Partial("_EditProjects")
@Html.Partial("_EditEducation")
@Html.Partial("_EditLanguages")
@Html.Partial("_EditInterests")
@Html.Partial("_EditSkills")
<div id="back" class="row well">
    <div class="col-md-offset-2 col-md-10">
        <div class="pull-right">
            @Html.ActionLink("Voltar meu Perfil", "MyProfile", null, null, null, "profile_resume", null, new { @class = "btn btn-primary pull-left" })


        </div>
    </div>
</div>

    @section Scripts {
<link href="~/css/footable.bootstrap.min.css" rel="stylesheet" />
<style>
    /* provides a red astrix to denote required fields - this should be included in common stylesheet */
    .form-group.required .control-label:after {
        content: "*";
        color: red;
        margin-left: 4px;
    }
</style>
<!-- Add in any FooTable dependencies we may need -->

<script src="~/js/moment.min.js"></script>
<script src="~/js/moment-with-locales.js"></script>
<script src="~/js/footable.min.js"></script>
<script>
	jQuery(function($){
		var $modal = $('#editor-modal'),
			$editor = $('#editor'),
			$editorTitle = $('#editor-title'),
			ft = FooTable.init('#editing-example', {
			    "rows": $.get('/api/Experiences'),
			    "empty": "Sem experiências",
				editing: {
				    enabled: true,
				    "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar experiências',
				    "hideText": "Cancelar",
				    "addText": "Nova experiência",
					addRow: function(){
						$modal.removeData('row');
						$editor[0].reset();
						$editorTitle.text('Nova experiência');
						$modal.modal('show');
					},
					editRow: function(row){
						var values = row.val();
						$editor.find('#ID').val(values.ID);
						$editor.find('#Description').val(values.Description);
						$editor.find('#Title').val(values.Title);
						$editor.find('#TagLine').val(values.TagLine);
						var StartedOn= values.StartedOn;
						var Dob = values.Dob;
						if (StartedOn == null)
						    $editor.find('#StartedOn').val(new Date());
						else
						    $editor.find('#StartedOn').val(StartedOn.format('YYYY-MM-DD'));
						if (Dob==null)
						    $editor.find('#Dob').val(new Date());
						else
						    $editor.find('#Dob').val(Dob.format('YYYY-MM-DD'));
						$modal.data('row', row);
						$editorTitle.text('Editar experiência #' + values.ID);
						$modal.modal('show');
					},
					deleteRow: function(row){
					    if (confirm('Tens certeza que queres apagar a experiência?')) {
							row.delete();
						}
					}
				}
			}),
			uid = 10;

		$editor.on('submit', function(e){
			if (this.checkValidity && !this.checkValidity()) return;
			e.preventDefault();
			var row = $modal.data('row'),
				values = {
					ID: $editor.find('#ID').val(),
					Title: $editor.find('#Title').val(),
					Description: $editor.find('#Description').val(),
					TagLine: $editor.find('#TagLine').val(),
					StartedOn: moment($editor.find('#StartedOn').val(), 'YYYY-MM-DD'),
					Dob: moment($editor.find('#Dob').val(), 'YYYY-MM-DD'),

				};

			if (row instanceof FooTable.Row) {
			    row.val(values);
			    $.ajax({
			        type: "PUT",
			        url: '/api/Experiences',
			         dataType: "json",
			        data: {
			            ID: values.ID,
			            Title: values.Title,
			            TagLine: values.TagLine,
			            Description: values.Description,
			            StartedOn: $editor.find('#StartedOn').val(),
			            Dob: $editor.find('#Dob').val()
			        },

			        success: function (response) {


			        },
			        fail: function (jqXHR, textStatus, errorThrown) {
			            console.log(jqXHR);
			        }


			    });
			} else {


			    $.ajax({
			        type: "POST",
			        url: ' /api/Experiences',
			        data: {
			            ID: values.ID,
			            Title: values.Title,
			            TagLine: values.TagLine,
			            Description: values.Description,
			            StartedOn: $editor.find('#StartedOn').val(),
			            Dob: $editor.find('#Dob').val()
			        },
			        success: function (response) {
			            values.ID = response.ID;
			            ft.rows.add(values);

			        },
			        fail: function (jqXHR, textStatus, errorThrown) {
			            console.log(jqXHR);
			        }

			    });
			}
			$modal.modal('hide');
		});
	});

	jQuery(function($){
		var $modal = $('#editor-modal-projects'),
			$editor = $('#editor-projects'),
			$editorTitle = $('#editor-title-projects'),
			ft = FooTable.init('#editing-example-projects', {

			    "rows": $.get('/api/Projects'),
			    "empty": "Sem projetos",
				editing: {
				    enabled: true,
				    "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar projeto',
				    "hideText": "Cancelar",
				    "addText": "Novo projeto",

					addRow: function(){
						$modal.removeData('row');
						$editor[0].reset();
						$editorTitle.text('Novo projeto');
						$modal.modal('show');
					},
					editRow: function(row){
						var values = row.val();
						$editor.find('#ID').val(values.ID);
						$editor.find('#Name').val(values.Name);
						$editor.find('#Link').val(values.Link);
						$editor.find('#Title').val(values.Title);
						$modal.data('row', row);
						$editorTitle.text('Editar projeto #' + values.ID);
						$modal.modal('show');
					},
					deleteRow: function(row){
					    if (confirm('Tens certeza que queres apagar o projeto?')) {
							row.delete();
						}
					}
				}
			}),
			uid = 10;

		$editor.on('submit', function(e){
			if (this.checkValidity && !this.checkValidity()) return;
			e.preventDefault();
			var row = $modal.data('row'),
				values = {
				    ID: $editor.find('#ID').val(),
				    Name: $editor.find('#Name').val(),
				    Link: $editor.find('#Link').val(),
				    Title: $editor.find('#Title').val()
				};

			if (row instanceof FooTable.Row){
			    row.val(values);
			    $.ajax({
			        type: "PUT",
			        url: '/api/Projects',
			         dataType: "json",
			        data: {
			            ID: values.ID,
			            Name: values.Name,
			            Link: values.Link,
			            Title: values.Title
			        },

			        success: function (response) {


			        },
			        fail:function (jqXHR, textStatus, errorThrown) {
			            console.log(jqXHR);
			        }


			    });
			} else {


				$.ajax({
				    type: "POST",
				    url: ' /api/Projects',
				    data: {
				        ID: values.ID,
				        Name: values.Name
				    },
				    success: function(response) {
				        values.ID = response.ID;
				        ft.rows.add(values);

				    },
				    fail:function(jqXHR, textStatus, errorThrown) {
				        console.log(jqXHR);
				    }

				});
			}
			$modal.modal('hide');
		});
	});
	jQuery(function ($) {
	    var $modal = $('#editor-modal-languages'),
			$editor = $('#editor-languages'),
			$editorTitle = $('#editor-title-languages'),
			ft = FooTable.init('#editing-example-languages', {
			    "rows": $.get('/api/Languages'),
			    "empty": "Sem linguagens",
			    editing: {
			        enabled: true,
			        "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar linguagem',
			        "hideText": "Cancelar",
			        "addText": "Nova linguagem",
			        addRow: function () {
			            $modal.removeData('row');
			            $editor[0].reset();
			            $editorTitle.text('Nova linguagem');
			            $modal.modal('show');
			        },
			        editRow: function (row) {
			            var values = row.val();
			            $editor.find('#ID').val(values.ID);
			            $editor.find('#Description').val(values.Description);
			            $editor.find('#Value').val(values.Value);


			            $modal.data('row', row);
			            $editorTitle.text('Editar linguagem #' + values.ID);
			            $modal.modal('show');
			        },
			        deleteRow: function (row) {
			            if (confirm('Tens certeza que queres apagar a linguagem?')) {
			                row.delete();
			            }
			        }
			    }
			}),
			uid = 10;

	    $editor.on('submit', function (e) {
	        if (this.checkValidity && !this.checkValidity()) return;
	        e.preventDefault();
	        var row = $modal.data('row'),
				values = {
				    ID: $editor.find('#ID').val(),
				    Description: $editor.find('#Description').val(),
				    Value: $editor.find('#Value').val(),

				};

	        if (row instanceof FooTable.Row) {
	            row.val(values);
	            $.ajax({
	                type: "PUT",
	                url: '/api/Languages',
	                dataType: "json",
	                data: {
	                    ID: values.ID,
	                    Value: values.Value,
	                    Description: values.Description,

	                },

	                success: function (response) {


	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }


	            });
	        } else {


	            $.ajax({
	                type: "POST",
	                url: ' /api/Languages',
	                 dataType: "json",
	                data: {
	                    ID: values.ID,
	                    Value: values.Value,
	                    Description: values.Description,

	                },
	                success: function (response) {
	                    values.ID = response.ID;
	                    ft.rows.add(values);

	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }

	            });
	        }

	        $modal.modal('hide');
	    });
	});
	jQuery(function ($) {
	    var $modal = $('#editor-modal-education'),
			$editor = $('#editor-education'),
			$editorTitle = $('#editor-title-education'),
			ft = FooTable.init('#editing-example-education', {
			    "rows": $.get('/api/Educations'),
			    "empty": "Sem Habilitações",
			    editing: {
			        enabled: true,
			        "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Habilitação',
			        "hideText": "Cancelar",
			        "addText": "Nova Habilitação",
			        addRow: function () {
			            $modal.removeData('row');
			            $editor[0].reset();
			            $editorTitle.text('Nova Habilitação');
			            $modal.modal('show');
			        },
			        editRow: function (row) {
			            var values = row.val();
			            $editor.find('#ID').val(values.ID);
			            $editor.find('#Title').val(values.Title);
			            $editor.find('#Description').val(values.Description);

			            var StartedOn = values.StartedOn;
			            var Dob = values.Dob;
			            if (StartedOn == null)
			                $editor.find('#StartedOn').val(new Date());
			            else
			                $editor.find('#StartedOn').val(StartedOn.format('YYYY-MM-DD'));
			            if (Dob == null)
			                $editor.find('#Dob').val(new Date());
			            else
			                $editor.find('#Dob').val(Dob.format('YYYY-MM-DD'));

			            $modal.data('row', row);
			            $editorTitle.text('Editar formação #' + values.ID);
			            $modal.modal('show');
			        },
			        deleteRow: function (row) {
			            if (confirm('Tens certeza que queres apagar a formação?')) {
			                row.delete();
			            }
			        }
			    }
			}),
			uid = 10;

	    $editor.on('submit', function (e) {
	        if (this.checkValidity && !this.checkValidity()) return;
	        e.preventDefault();
	        var row = $modal.data('row'),
				values = {
				    ID: $editor.find('#ID').val(),
				    Title: $editor.find('#Title').val(),
				    Description: $editor.find('#Description').val(),

				    StartedOn: moment($editor.find('#StartedOn').val(), 'YYYY-MM-DD'),
				    Dob: moment($editor.find('#Dob').val(), 'YYYY-MM-DD')
				};

	        if (row instanceof FooTable.Row) {
	            row.val(values);
	            $.ajax({
	                type: "PUT",
	                url: '/api/Educations',
	                 dataType: "json",
	                data: {
	                    ID: values.ID,
	                    Title: values.Title,
	                    Description: values.Description,
	                    StartedOn: $editor.find('#StartedOn').val(),
	                    Dob: $editor.find('#Dob').val()
	                },

	                success: function (response) {


	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }


	            });
	        } else {


	            $.ajax({
	                type: "POST",
	                url: ' /api/Educations',
	                data: {
	                    ID: values.ID,
	                    Title: values.Title,
	                    Description: values.Description,
	                    StartedOn: $editor.find('#StartedOn').val(),
	                    Dob: $editor.find('#Dob').val()
	                },
	                success: function (response) {
	                    values.ID = response.ID;
	                    ft.rows.add(values);

	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }

	            });
	        }
	        $modal.modal('hide');
	    });
	});
	jQuery(function ($) {
	    var $modal = $('#editor-modal-interestes'),
			$editor = $('#editor-interestes'),
			$editorTitle = $('#editor-title-interestes'),
			ft = FooTable.init('#editing-example-interestes', {
			    "rows": $.get('/api/Interests'),
			    "empty": "Sem interesses",
			    editing: {
			        enabled: true,
			        "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar interesse',
			        "hideText": "Cancelar",
			        "addText": "Novo interesse",
			        addRow: function () {
			            $modal.removeData('row');
			            $editor[0].reset();
			            $editorTitle.text('Novo interesse');
			            $modal.modal('show');
			        },
			        editRow: function (row) {
			            var values = row.val();
			            $editor.find('#ID').val(values.ID);
			            $editor.find('#Description').val(values.Description);



			            $modal.data('row', row);
			            $editorTitle.text('Editar interesse #' + values.ID);
			            $modal.modal('show');
			        },
			        deleteRow: function (row) {
			            if (confirm('Tens certeza que queres apagar a interesse?')) {
			                row.delete();
			            }
			        }
			    }
			}),
			uid = 10;

	    $editor.on('submit', function (e) {
	        if (this.checkValidity && !this.checkValidity()) return;
	        e.preventDefault();
	        var row = $modal.data('row'),
				values = {
				    ID: $editor.find('#ID').val(),
				    Description: $editor.find('#Description').val(),


				};

	        if (row instanceof FooTable.Row) {
	            row.val(values);
	            $.ajax({
	                type: "PUT",
	                url: '/api/Interests',
	                 dataType: "json",
	                data: {
	                    ID: values.ID,

	                    Description: values.Description,

	                },

	                success: function (response) {


	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }


	            });
	        } else {


	            $.ajax({
	                type: "POST",
	                url: ' /api/Interests',
	                 dataType: "json",
	                data: {
	                    ID: values.ID,

	                    Description: values.Description,

	                },
	                success: function (response) {

	                    values.ID = response.ID;
	                    ft.rows.add(values);

	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }

	            });
	        }

	        $modal.modal('hide');
	    });
	});
	jQuery(function ($) {
	    var $modal = $('#editor-modal-skills'),
			$editor = $('#editor-skills'),
			$editorTitle = $('#editor-title-skills'),
			ft = FooTable.init('#editing-example-skills', {
			    "rows": $.get('/api/Skills'),
			    "empty": "Sem skills",
			    editing: {
			        enabled: true,
			        "showText": '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Skill',
			        "hideText": "Cancelar",
			        "addText": "Nova Skill",
			        addRow: function () {
			            $modal.removeData('row');
			            $editor[0].reset();
			            $editorTitle.text('Nova Skill');
			            $modal.modal('show');
			        },
			        editRow: function (row) {
			            var values = row.val();
			            $editor.find('#ID').val(values.ID);
			            $editor.find('#Name').val(values.Name);
			            $editor.find('#Value').val(values.Value);
			            $modal.data('row', row);
			            $editorTitle.text('Editar Skill #' + values.ID);
			            $modal.modal('show');
			        },
			        deleteRow: function (row) {
			            if (confirm('Tens certeza que queres apagar a Skill?')) {
			                row.delete();
			            }
			        }
			    }
			}),
			uid = 10;

	    $editor.on('submit', function (e) {
	        if (this.checkValidity && !this.checkValidity()) return;
	        e.preventDefault();
	        var row = $modal.data('row'),
				values = {
				    ID: $editor.find('#ID').val(),
				    Name: $editor.find('#Name').val(),
				    Value: $editor.find('#Value').val(),

				};

	        if (row instanceof FooTable.Row) {
	            row.val(values);
	            $.ajax({
	                type: "PUT",
	                url: '/api/Skills',
	                dataType: "json",
	                data: {
	                    ID: values.ID,
	                    Value: values.Value,
	                    Name: values.Name,

	                },

	                success: function (response) {


	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }


	            });
	        } else {


	            $.ajax({
	                type: "POST",
	                url: ' /api/Skills',
	                dataType: "json",
	                data: {
	                    ID: values.ID,
	                    Value: values.Value,
	                    Name: values.Name,

	                },
	                success: function (response) {
	                    values.ID = response.ID;
	                    ft.rows.add(values);

	                },
	                fail: function (jqXHR, textStatus, errorThrown) {
	                    console.log(jqXHR);
	                }

	            });
	        }
	        $modal.modal('hide');
	    });
	});
</script>
        @Scripts.Render("~/bundles/jqueryval")
    }
