@{
    ViewBag.Title = "Página inicial";
}

<div class="jumbotron">
    <h1>Chamada a colaborar em novos artigos</h1>
    <p class="lead">Ajuda nos a crescer colabora connosco com a elaboração de teus artigos.</p>
    <p>@Html.ActionLink("Criar artigo »", "Index", "ArticleUsers", null, null, "articles_home", null, new { @class = "btn btn-primary btn-lg" })</p></p>
</div>



<section id="ranking_articles" class="services well-material-light-blue">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="section-header">
                    <h2 class="section-title">Os artigos no top 10</h2>
                    <hr class="small">
                    </div>
                    @Html.Action("_TopArticles", "Home")
                </div>
            </div>
        </div>
                </section>

<section id="ranking_users" class="section">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInRight;">Ranking de utilizadores</h1>
            <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeInRight;">O top criadores de artigos</h2>
        </div>
        <div class="row ">
            <div class="col-lg-10 col-lg-offset-1 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
            </div>
        </div>
    </div>
</section>
<section id="events" class="section">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInRight;">Nossos Eventos</h1>
            <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeInRight;">Juntos crescemos e aprendemos</h2>
        </div>
    </div>
</section>
@Html.Action("_Articles", "Home")
<section id="why" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInRight;">
                <img src="/img/features/img1.png" alt="">
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                <div class="pull-left content">
                    <h2>Porque devemos ajudar a fazer crescer e <br> a amar ComunidadePorto.Net</h2>
                    <p>
                        Para que cada vez mais tenhamos mais eventos internacionais <br>
                        no Porto e na região Norte como acontece em Lisboa. <br>
                        O WebSummit é um exemplo claro disto mesmo. Esta comunidade foi criada para juntar todos aqueles que amam o .Net.
                        Todos aqueles que começam agora no mundo do trabalho, ou estudam programação e ou são especialistas em .Net e queiram fazer parte de algo maior <br>
                        A comunidade foi criada para ser parte de vós.<br> Ajuda nos junta te a nós e trás as tuas ideias
                        para com elas todos aprenderem e crescerem cada vez mais.
                    </p>
                    <ul class="list-item">
                        <li><i class="mdi-action-done"></i>Não tenhas medo regista te</li>
                        <li><i class="mdi-action-done"></i>Cria artigos e divulga teu saber</li>
                        <li><i class="mdi-action-done"></i>Ajuda a divulgar a comunidade</li>
                        <li><i class="mdi-action-done"></i>O Porto e o .Net crescem connosco</li>
                        <li><i class="mdi-action-done"></i>Vamos crescer juntos</li>
                    </ul>
                    <a href="@Url.Action("Register", "Account")#register" class="btn btn-lg btn-primary">Junta te a nós agora!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cta">
    <div class="container">
        <div class="row text-center">
            <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">Junta te a nós e Cresce connosco</h3>
            <a href="@Url.Action("Login", "Account")#login" class="btn btn-lg btn-border">Entrar</a>
        </div>
    </div>
</section>

@Html.Action("_Statements", "Home")
<section id="counter" class="section">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("NumberOfArticles", "Home");}
            @{Html.RenderAction("NumberOfUsers", "Home");}
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="700ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 700ms; animation-name: none;">
                <div class="counter-item">
                    <div class="icon">
                        <i class="mdi-action-grade"></i>
                    </div>
                    <h3 class="timer">0</h3>
                    <hr>
                    <h5>
                        Eventos
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="900ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 900ms; animation-name: none;">
                <div class="counter-item">
                    <div class="icon">
                        <i class="mdi-action-trending-up"></i>
                    </div>
                    <h3 class="timer">2</h3>
                    <hr>
                    <h5>
                       Crescimento esperado
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
